@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;

.footer {
  background-image: url(../../../images/footer-bg.png);
  background-size: cover;
  background-position: center;

  background-color: $header_footer-bg-color;

  &__content {
    padding-block: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;

    @include onTablet {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
