$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$effectDuration: 0.5s;

$main-text-color: #292929;
$main-bg-color: #f5f6fa;
$dark-theme-text-color: #f5f6fa;
$dark-theme-bg-color: #292929;

$menu-text-color: #292929;
$menu-bg-color: #f5f6fa;

$header_footer-bg-color: rgb(129, 183, 227);
