@use '../../common/styles/utils/mixins' as *;

.auth {
  padding-block: 96px;
  background-color: var(--bg-page);
  border-radius: 50px 50px 0 0;

  @include onTablet {
    padding-block: 120px;
  }

  &__content {
    @include pageGrid;
    row-gap: 20px;
  }

  &__form {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: 4 / -4;
    }
  }

  &__label {
    display: inline-block;
    padding: 0 15px 5px;
    cursor: pointer;
  }

  &__field {
    margin: 0 0 16px;
  }

  &__button {
    margin: 32px 0 0;
  }

  &__error {
    color: red;
    font-weight: bold;
  }

  &__toggle {
    grid-column: 2 / -1;

    @include onTablet {
      grid-column: 4 / -2;
    }

    @include onDesktop {
      grid-column: 6 / -4;
    }
  }
}
